html {
    font-size: 18px;
}

/* body {
    background-color: #fff;
    font-family: 'poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.main {
    align-content: center;
    max-width: 1440px;
    min-width: fit-content;
    margin: auto auto;
}

header {
    padding: 1rem 5rem 1rem;
    text-align: center;
    background: #028090;
    color: #fff;
    font-size: 1rem;
    list-style-type: none;
}

h1 {
    margin: 2% 0 2% 2%;
    color: #FAEAED;
    font-size: 2rem;
}

header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
}

.shop {
    max-width: 1440px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem 1rem;
    margin: 1rem 1rem;
}

.product {
    display: flex;
    align-items: center;
    flex-shrink: 25%;
    margin: 1rem auto;
    padding: 1rem;
    border: solid;
    border-color: #028090;
    width: 100%;
}

.shop ul,
li {
    list-style-type: none;
    margin: 1em;
    padding: 1em;
}

.shop p {
    display: flex;

}

.shop img {
    object-fit: fill;
    max-width: 50%;
    max-height: 50%;
    height: auto;
    margin: auto 1rem;
    flex: 2;
}

.buy_button {
    border-radius: 5rem;
    background-color: lightblue;

}

@media (max-width: 1080px) {
    .shop {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem 1rem;
        margin: 1rem 1rem;
    }

    .product {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        flex-shrink: 25%;
        margin: 1rem auto;
        padding: 1rem;
        border: solid;
        border-color: #028090;
        width: 100%;
    }
}


@media (max-width: 750px) {
    .shop {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem 1rem;
        margin: 1rem 1rem;
    }

    .product {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        flex-shrink: 25%;
        margin: 1rem auto;
        padding: 1rem;
        border: solid;
        border-color: #028090;
        width: 100%;
    }
}